.card {
  position: relative;
  z-index: 0;
}

.card__content {
  display: block;
  padding: 336px 30px 23px 30px;

  @media (max-width: $vp-1024) {
    padding: 332px 35px 27px 35px;
  }

  @media (max-width: $vp-678) {
    padding: 341px 25px 18px 25px;
  }
}

.card__description {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 260px;
  min-height: 386px;
  padding: 28px 25px 75px 25px;

  background-color: $color-tangaroa;

  @media (max-width: $vp-1024) {
    width: 309px;
    padding: 29px 35px 75px 35px;
  }

  @media (max-width: $vp-678) {
    position: relative;

    width: 270px;
    padding-top: 28px;
    padding-left: 25px;
  }
}

.card:hover > .card__content {
  display: none;
}

.card:hover > .card__description {
  display: block;
}

.card__content picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  line-height: 0;
}

.card__content img {
  width: 260px;
  height: 386px;

  @media (max-width: $vp-1024) {
    width: 309px;
  }

  @media (max-width: $vp-678) {
    width: 270px;
  }
}

.card__content p {
  position: relative;
  z-index: 10;

  margin: 0;

  @include font-group-medium($size-18, $line-150);
  color: $color-alice-blue;
}

.card__description h4 {
  margin-top: 0;
  margin-bottom: 14px;

  @include font-group-medium($size-18, $line-150);
  color: $color-alice-blue;
}

.card__description div {
  margin-top: 0;
  margin-bottom: 11px;

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.card__description p {
  display: block;

  margin-bottom: 2px;

  @include font-group-medium($size-14, $line-140);
  color: $color-alice-blue;
}

.card__description span {
  display: block;

  @include font-group($size-14, $line-140);
  align-items: center;
  color: $color-quartz;
}

.card__description a {
  position: absolute;
  bottom: 35px;
  left: 25px;

  display: block;
  width: 210px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 9px;

  @include font-group-semibold($size-14, $line-150);
  color: $color-tangaroa;

  background-color: $color-alice-blue;

  @media (max-width: $vp-1024) {
    bottom: 35px;
    left: 35px;

    width: 239px;
  }

  @media (max-width: $vp-678) {
    left: 25px;

    width: 220px;
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
