.card {
  position: relative;
  z-index: 0;
}

.card__content {
  display: block;
  padding: 336px 30px 23px 30px;

  @include vp-1023 {
    padding: 332px 35px 27px 35px;
  }

  @include vp-767 {
    padding: 342px 25px 17px 25px;
  }
}

.card__description {
  display: none;
  width: 260px;
  height: 386px;
  padding: 28px 25px 35px 25px;

  background-color: $color-tangaroa;

  @include vp-1023 {
    width: 309px;
    padding: 29px 35px 35px 35px;
  }

  @include vp-767 {
    position: relative;

    width: 270px;
    padding: 29px 25px 35px 25px;
  }
}

.card:hover .card__content {
  display: none;
}

.card:hover .card__description {
  display: block;
  overflow-y: auto;
}

.card__content picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  line-height: 0;
}

.card__content img {
  width: 260px;
  height: 386px;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.card__content p {
  position: relative;
  z-index: 10;

  margin: 0;

  @include font-group-medium($size-18, $line-150);
  color: $color-alice-blue;
}

.card__description h4 {
  margin-top: 0;
  margin-bottom: 14px;

  @include font-group-medium($size-18, $line-150);
  color: $color-alice-blue;
}

.card__description-list {
  width: 100%;
  margin-bottom: 24px;

  @include vp-1023 {
    margin-bottom: 23px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.card__description-list-item {
  margin-top: 0;
  margin-bottom: 11px;


  &:last-of-type {
    margin-bottom: 0;
  }
}

.card__description-list-item p {
  display: block;
  margin-top: 0;
  margin-bottom: 2px;

  @include font-group-medium($size-14, $line-140);
  color: $color-alice-blue;
}

.card__description-list-item span {
  display: block;

  @include font-group($size-14, $line-140);
  align-items: center;
  color: $color-quartz;
}

.card__description a {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 9px;

  @include font-group-semibold($size-14, $line-150);
  color: $color-tangaroa;

  background-color: $color-alice-blue;

  @include vp-767 {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}
