.features {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 120px;

  background-image: url("../img/features-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-pattens-blue;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/features-back@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 65px;
  }
}

.features h2 {
  margin-top: 0;
  margin-bottom: 49px;
  text-align: center;

  @include font-group-semibold($size-28, $line-150);

  @include vp-1023 {
    margin-bottom: 50px;
    font-size: 26px;
  }

  @include vp-767 {
    margin-bottom: 31px;

    font-size: 24px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 40px;
  justify-content: center;

  @include vp-1023 {
    grid-template-columns: repeat(3, 206px);
    gap: 30px;
    justify-content: space-around;
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fill, 290px);
    gap: 30px;
  }
}
