.feature {
  position: relative;

  display: block;
  padding: 80px 34px 26px 30px;

  background-color: $color-alice-blue;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;

    display: block;
    width: 42px;
    height: 32px;

    background-position: 0 center;
    background-repeat: no-repeat;
  }

  &:first-of-type {
    &::before {
      background-image: url("../../img/sprite/icon-ship-big.svg");
    }
  }

  &:nth-of-type(2) {
    padding-right: 46px;

    &::before {
      background-image: url("../../img/sprite/icon-marks-big.svg");
    }
  }

  &:last-of-type {
    &::before {
      background-image: url("../../img/sprite/icon-boat-big.svg");
    }
  }

  @media (max-width: $vp-974) {
    padding: 69px 19px 21px 20px;

    &::before {
      top: 22px;
      left: 20px;
    }

    &:first-of-type {
      &::before {
        background-image: url("../../img/sprite/icon-ship-small.svg");
      }
    }

    &:nth-of-type(2) {
      padding-right: 19px;

      &::before {
        background-image: url("../../img/sprite/icon-marks-small.svg");
      }
    }

    &:last-of-type {
      &::before {
        background-image: url("../../img/sprite/icon-boat-small.svg");
      }
    }
  }

  @media (max-width: $vp-537) {
    padding-right: 15px;
  }

  @media (max-width: $vp-480) {
    padding-top: 71px;
  }
}

.feature h3 {
  margin-top: 0;
  margin-bottom: 10px;

  @include font-group-medium($size-18, $line-150);
  color: $color-tangaroa;

  @media (max-width: $vp-974) {
    margin-bottom: 8px;
  }

  @media (max-width: $vp-537) {
    width: 170px;
    margin-bottom: 9px;

    line-height: 140%;
  }
}

.feature p {
  margin: 0;

  @include font-group($size-14, $line-140);
  color: $color-tangaroa;

  @media (max-width: $vp-537) {
    width: 233px;
  }
}

.feature:first-of-type p {
  @media (max-width: $vp-537) {
    width: 255px;
  }
}

.feature:last-of-type p {
    width: 241px;

  @media (max-width: $vp-974) {
    width: auto;
  }

  @media (max-width: $vp-537) {
    width: 233px;
  }
}
