.footer {
  position: relative;

  width: 100%;

  background-color: $color-tangaroa;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 51px 0;

  @include vp-1023 {
    padding: 45px 0 42px 0;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 0 36px 0;
  }
}

.footer picture {
  width: 70px;
  margin-right: 40px;

  @include vp-1023 {
    width: 38px;
    margin-top: 5px;
    margin-right: 25px;
  }

  @include vp-767 {
    width: 42px;
    margin-right: 0;
    margin-bottom: 27px;
  }
}

.footer__nav {
  flex: 1;
  margin-right: 40px;
  padding-top: 6px;

  @include vp-1023 {
    margin-right: 25px;
    padding-top: 0;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 23px;
  }
}

.footer__nav-list-item {
  flex-wrap: nowrap;
  margin-right: 33px;

  &:last-of-type {
    margin-right: 0;

    @include vp-767 {
      margin-bottom: 0;
    }
  }

  @include vp-1023 {
    margin-right: 23px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 17px;

    @include font-group-small($size-12, $auto);

    &:first-of-type {
      margin-bottom: 18px;
    }
  }
}

.footer a {
  @include font-group-medium($size-16, $auto);
  color: $color-alice-blue;

  @include vp-1023 {
    @include font-group-small($size-12, $auto);
  }
}
