.journeys__wrapper {
  display: grid;
  grid-template-columns: 520px 1fr;
  column-gap: 80px;
  padding: 120px 0;

  @media (max-width: $vp-1210) {
    column-gap: 50px;
  }

  @include vp-1023 {
    grid-template-columns: 1fr 324px;
    column-gap: 30px;
    padding-top: 100px;
    padding-bottom: 93px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 65px 0;
    gap: 0;
  }
}

.journeys__inner-wrapper {
  padding-top: 56px;

  @media (max-width: $vp-1210) {
    padding-top: 0;
  }
}

.journeys__wrapper picture {
  display: grid;
}

.journeys__wrapper img {
  display: block;
  width: 560px;
  align-items: center;

  @include vp-1023 {
    width: 324px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.journeys h2 {
  margin: 0 auto 24px 0;

  @include font-group-semibold($size-28, $line-150);
  color: $color-tangaroa;

  @include vp-1023 {
    width: 205px;
    margin-top: -9px;
    margin-bottom: 15px;

    @include font-group-small($size-26, $line-140);
  }

  @include vp-767 {
    margin-top: -8px;
    font-size: 24px;
  }
}

.journeys p {
  max-width: 512px;
  margin: 0;

  @include font-group($size-16, $line-150);
  color: $color-tangaroa;

  @include vp-767 {
    max-width: 100%;
    margin-bottom: 34px;
  }
}
