.journeys__wrapper {
  display: flex;
  column-gap: 80px;
  justify-content: space-between;
  padding: 120px 0;

  @media (max-width: $vp-1024) {
    gap: 30px;
  }

  @media (max-width: $vp-768) {
    padding-top: 100px;
    padding-bottom: 93px;
  }

  @media (max-width: $vp-728) {
    flex-direction: column;
    padding: 65px 0;
    gap: 0;
  }
}

.journeys__inner-wrapper {
  padding-top: 56px;

  @media (max-width: $vp-1210) {
    padding-top: 0;
  }
}

.journeys img {
  display: block;
  width: 560px;

  @media (max-width: $vp-1024) {
    width: 324px;
  }

  @media (max-width: $vp-728) {
    width: 100%;
  }
}

.journeys h2 {
  margin: 0 auto 24px 0;

  @include font-group-semibold($size-28, $line-150);
  color: $color-tangaroa;

  @media (max-width: $vp-768) {
    width: 205px;
    margin-top: -9px;
    margin-bottom: 15px;

    @include font-group-small($size-26, $line-140);
  }

  @media (max-width: $vp-320) {
    margin-top: -8px;
    font-size: 24px;
  }
}

.journeys p {
  max-width: 512px;
  margin: 0;

  @include font-group($size-16, $line-150);
  color: $color-tangaroa;

  @media (max-width: $vp-768) {
    max-width: 320px;
  }

  @media (max-width: $vp-728) {
    max-width: 100%;
    margin-bottom: 34px;
  }
}
