.main-screen {
  margin-top: -73px;
  padding-top: 270px;
  padding-bottom: 278px;

  @media (max-width: $vp-974) {
    padding-top: 290px;
    padding-bottom: 274px;
  }

  @media (max-width: $vp-728) {
    padding-top: 206px;
    padding-bottom: 178px;
  }
}

.main-screen__title {
  margin: 0 auto 12px 95px;

  @include font-group-bold($size-54, $auto);
  color: $color-alice-blue;

  @media (max-width: $vp-974) {
    margin-bottom: 14px;
    margin-left: 0;

    @include font-group-small($size-50, $auto);
  }

  @media (max-width: $vp-728) {
    margin-bottom: 25px;

    @include font-group-small($size-36, $line-125);
  }

  @media (max-width: $vp-320) {
    margin-bottom: 12px;
  }
}

.main-screen__text {
  margin: 0 0 0 95px;

  @include font-group($size-20, $auto);
  color: $color-alice-blue;

  @media (max-width: $vp-974) {
    margin-left: 0;
    @include font-group-small($size-18, $auto);
  }

  @media (max-width: $vp-728) {
    @include font-group-small($size-16, $line-140);
  }
}

.main-screen__br {
  display: none;

  @media (max-width: $vp-514) {
    display: block;
  }
}
