.nav {
  position: relative;
  max-width: 1056px;
}

.nav--no-js {
  width: 100%;
  margin-left: 0;
}

.nav__btn {
  position: absolute;
  top: -12px;
  right: 0;

  display: none;

  @media (max-width: $vp-728) {
    display: block;
    width: 24px;
    height: 22px;

    background-color: $color-transparent;
    border: none;

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;

      display: block;
      width: 24px;
      height: 2px;

      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.nav__btn--no-js {
  @media (max-width: $vp-728) {
    display: none;

    &::after {
      display: none;
    }
  }
}

.is-open {
  @media (max-width: $vp-728) {
    background-image: url("../img/sprite/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      display: none;
    }
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-728) {
    display: none;
  }

  &--opened,
  &--no-js {
    @media (max-widtH: $vp-728) {
      display: block;
    }
  }
}

.nav__list-item {
  margin-right: 33px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $vp-974) {
    margin-right: 23px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media (max-width: $vp-728) {
    margin-right: 0;
  }
}

.nav__list--no-js .nav__list-item {
  @media (max-width: $vp-728) {
    margin-bottom: 10px;
    padding: 7px 10px 6px 10px;
  }
}

.nav__link {
  @include font-group-medium($size-16, $auto);
  color: $color-alice-blue;

  @media (max-width: $vp-974) {
    @include font-group-small($size-14, $auto);
  }
}

.nav__list--no-js .nav__link {
  @media (max-width: $vp-728) {
    @include font-group-small($size-18, $auto);
    color: $color-tangaroa;
  }
}
