.nav {
  position: relative;

  display: flex;
  margin-left: 33px;
  align-items: center;

  @include vp-767 {
    margin-left: 0;
  }
}

.nav--no-js {
  width: 100%;
}

.nav--opened {
  min-height: 223px;
  padding-top: 33px;
}

.nav__overlay {
  @include vp-767 {
    display: block;
    width: 100%;
    overflow: hidden;
  }
}

.nav__btn {
  display: none;

  @include vp-767 {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 24px;
    height: 22px;
    padding: 0;

    background-color: $color-transparent;
    border: none;

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;

      display: block;
      width: 24px;
      height: 2px;

      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
    }
  }

  @media (max-width: $vp-320) {
    top: -1px;
  }

  &:hover {
    cursor: pointer;
  }
}

.nav__btn--no-js {
  @include vp-767 {
    display: none;

    &::after {
      display: none;
    }
  }
}

.is-open {
  @include vp-767 {
    top: -22px;

    width: 13px;
    overflow: visible;

    background-image: url("../img/sprite/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      display: none;
    }
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    display: none;
  }

  &--opened,
  &--no-js {
    @include vp-767 {
      display: block;
      height: 100vh;
      overflow-y: auto;
    }
  }

  &--no-js {
    @include vp-767 {
      padding-top: 0;
    }
  }
}

.nav__list-item {
  display: block;
  margin-right: 33px;

  &:last-of-type {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 23px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.nav__list--no-js .nav__list-item,
.nav__list--opened .nav__list-item {
  @include vp-767 {
    margin-bottom: 10px;
    padding: 7px 10px 6px 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.nav a {
  display: block;

  @include font-group-medium($size-16, $auto);
  color: $color-alice-blue;

  @include vp-1023 {
    @include font-group-small($size-14, $auto);

    overflow-x: hidden;
  }
}

.nav__list--no-js a,
.nav__list--opened a {
  @include vp-767 {
    @include font-group-small($size-18, $auto);
  }
}

.nav__list--opened a {
  color: $color-tangaroa;
}
