.page-header {
  width: 100%;
  padding-top: 35px;

  background-image: url("../img/main-back-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $color-dark-cerulean;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-back-desktop@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
  }
}

.page-header--no-js {
  position: relative;
  top: 0;

  padding-top: 35px;

  background-color: $color-dark-cerulean;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
    padding-top: 20px;
  }
}

.page-header--modal {
  @include vp-767 {
    padding-top: 42px;
  }
}

.page-header__overlay--modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: $color-black-fade;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.page-header__wrapper--no-js {
  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-header__wrapper--modal {
  @include vp-767 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    display: block;
    width: 285px;
    height: 100vh;
    margin-right: 0;
    margin-left: auto;
    padding: 0 20px 15px;
    overflow-y: auto;

    background-color: $color-alice-blue;
  }
}

.page-header__picture {
  display: none;
  width: 70px;

  @include vp-1023 {
    width: 38px;
  }

  @include vp-767 {
    width: 42px;
  }
}

.page-header__picture-no-js {
  display: inline-block;
  width: 70px;
  margin-right: 33px;
  vertical-align: middle;

  @include vp-1023 {
    width: 38px;
    margin-right: 23px;
  }

  @include vp-767 {
    width: 42px;
    margin-bottom: 33px;
  }
}

.page-header__picture-modal {
  position: absolute;
  top: 20px;
  right: 228px;
  z-index: 100;
}
