.social {
  display: flex;
  align-items: center;

  @include vp-1023 {
    margin-top: 2px;
  }
}

.social__item {
  margin-right: 33px;

  &:last-of-type {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 23px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include vp-767 {
    margin-right: 19px;

    &:nth-of-type(2) {
      margin-right: 22px;
    }
  }
}

.social__item--first {
  margin-right: 29px;

  @include vp-1023 {
    margin-right: 20px;
  }
}

.social__item a {
  display: block;
  padding-top: 3px;
  text-align: center;
}

.social__item--first a {
  @include vp-767 {
    margin-left: -3px;
  }
}

.social svg {
  width: 20px;
  height: 20px;

  @include vp-1023 {
    width: 16px;
    height: 16px;
    padding-top: 0;
  }
}
