.social {
  display: flex;

  @media (max-width: $vp-768) {
    margin-left: -3px;
  }
}

.social__item {
  margin-right: 33px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $vp-974) {
    margin-right: 23px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media (max-width: $vp-768) {
    margin-right: 19px;

    &:nth-of-type(2) {
      margin-right: 22px;
    }
  }
}

.social__link svg {
  width: 16px;
  height: 16px;
}
