.container {
  width: 100%;
  padding: 0 103px;

  @media (max-width: $vp-1024) {
    padding: 0 45px;
  }

  @media (max-width: $vp-767) {
    padding: 0 33px;
  }

  @include vp-415 {
    padding: 0 15px;
  }
}

.container--no-js {
  @media (max-width: $vp-768) {
    padding: 0 45px;
  }

  @media (max-width: $vp-767) {
    padding: 0 15px;
  }
}
